<!DOCTYPE html>
<html>

<head>
    <title>Add Map</title>

    <style>
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        // Initialize and add the map
        function initMap() {

            navigator.geolocation.getCurrentPosition((pos) => {
                console.log(pos.coords.latitude);
                console.log(pos.coords.longitude);
                let coords = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 50,
                    center: coords,
                });
                // The marker, positioned at Uluru
                const marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                    draggable: true
                });
                marker.addListener("dragend", () => {
                    console.log(marker.getPosition().lat());
                    console.log(marker.getPosition().lng());
                })
            });

        }
    </script>
</head>

<body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl5MVr9rh6vrdnYs16CA2Kp0JJUfT8SDs&callback=initMap&v=weekly"
        async></script>
</body>

</html>