<button class="buttonClass2">
Regresar
</button>

<img class="imageMenu" src="https://th.bing.com/th/id/OIP.xnZHv2UfVzclmXZjyOGuxgHaHa?pid=ImgDet&rs=1" />
<div class="divTitulo">
    <h1>Consultar Polizas</h1>
    <div id="separador"></div>
    <h3>seleccione la poliza que desee consultar a detalle:</h3>
    <br />
</div>
<div class="divSeccion">
    <h4>tabla de polizas contratadas:</h4>
    <div class="tableStyle2">
        <table>
            <tr>
                <th> Numero de poliza</th>
                <th>modelo</th>
                <th>fecha de inicio</th>
                <th>fecha de expiracion</th>
                <th>estado</th>
            </tr>
           
            <tr class=" tableRowStyle">
                <td>numeroDePoliza </td>
                <td>modelo</td>
                <td>fechaDeInicio</td>
                <td>fechaDeExpiracion</td>
                <td>estado</td>

            </tr>
            
        </table>
    </div>
    <br />
    <button class="buttonClass">
        ConsultarPoliza
    </button>
   
</div>
