<img class="imageMenu" style="position:relative; right:20px; left:90%;top:20px; height:50px; width:50px;"src="https://th.bing.com/th/id/OIP.xnZHv2UfVzclmXZjyOGuxgHaHa?pid=ImgDet&rs=1" />

    <div class="containerClass" style="text-align:center;display: flex;align-items: center;justify-content: center;flex-direction: column;width: 100%;" >
        <h1>MENU DE CONDUCTOR:</h1>
        <div style="margin:3px; height: 1px;width: 50%; background-color: #353535;"></div>
        <label>Bienvenido</label>
        <label>nombre del conductor</label>
    </div>
    <div class="containerClass" style="text-align:center; display:flex; align-items:center; justify-content:center;flex-direction:column;width:100%;gap:20px;">
        <h3>seleccione la opcion que desee:</h3>
        
        <button style="background-color: dodgerblue;padding: 6px;border-radius: 10px;width: 150px;color: white; text-align:center;"> Generar Reporte</button>
        
        <button style="background-color: dodgerblue;padding: 6px;border-radius: 10px;width: 150px;color: white; text-align:center;"> Consultar Polizas</button>
        
        <button style="background-color: dodgerblue;padding: 6px;border-radius: 10px;width: 150px;color: white; text-align:center;"> Comprar Poliza</button>

        <button style="background-color: dodgerblue;padding: 6px;border-radius: 10px;width: 150px;color: white; text-align:center;"> Menu Ajustadores</button>

        <button style=" background-color:forestgreen; padding:6px;border-radius:10px ; width:150px;color:white;text-align:center"> salir</button>

    </div>