<form>
           
    <div class="divTitulo">

        <h2>Dictaminar reporte</h2>
        <div id="separador">
        </div>
        <h3>Seleccione el ajustador y el reporte que desee vincular:</h3>
    </div>

    <div class="divSeparacion">
        <div class="containerClass">
            <h5>a continuacion se presenta la tabla de ajustadores disponibles:</h5>

            <div class="tableStyle">
            <table>
                <tr>
                    <th> Nombre de Ajustador</th>
                </tr>
                
                <tr class=" tableRowStyle">
                    <td>nombreCompleto</td>

                </tr>
                
            </table>
            </div>


        </div>

        <div class="containerClass">
            <h5> a continuacion se presenta la tabla de reportes registrados:</h5>

            <div class="tableStyle">
            <table>
                <tr>
                    <th> Numero de Reporte</th>
                    <th>Estado</th>
                </tr>
                
                <tr class=" tableRowStyle">
                    <td>id </td>
                    <td>fkEstado</td>

                </tr>
                }
            </table>
            </div>
        </div>
    </div>

    <br />

    <div class="divSeparacion">
        <p>Nombre de ajustador:</p>
         <label></label>

        <label>ASIGNAR A:</label>

        <p>Numero de Reporte:</p>
         <label></label>
    </div>


    <div class="divBotonesAccion">
        <div class="divbtnIzquierda">
            <a class="bottom" style=" background-color:forestgreen; padding:6px;border-radius:10px ; width:100px;color:white">
                <btn> Regresar</btn>
            </a>
        </div>
        <div class="divbtnDerecho">
            <a class="buttonClass">
                <btn> Asignar Reporte</btn>
            </a>
        </div>

    </div>
    </form>

