<div id="barraderecha"></div>
    <img class="imageRightTop" src="~/Content/images/cuadros 1.png" />
    <img class="imageLeftTop" src="~/Content/images/cuadros2.png" />
    <div class="divTitulo">
        <img class="imageCommon" src="https://images.vexels.com/media/users/3/155414/isolated/preview/6c5e852026e7fd11f79cf45a65299016-silueta-de-vista-lateral-de-coche-suv-by-vexels.png" />

        <div id="separador"></div>
        <h1>Bienvenido al <br />Sistema de Gestion de Siniestros Vehiculares</h1>
        <h2>SIGESIV</h2>
        <div id="separador2"></div>
        <img src="~/Content/images/decoracion.png" />
    </div>
    <div class="divSeccion">
        <h4>Ingrese los datos solicitados:</h4>
        <div class="divSeccion">
            <p>Nombre de Usuario:</p>
            <input type="text" />
        </div>
        <div class="divSeccion">
            <p>Contraseña:</p>
            <input type="password" />
        </div>

        <button class="buttonClass">
            ingresar 
         </button>

         <button class="buttonClass">
             Registrarse
         </button>
        
    </div>
    <div class="divHorizontal">
        <img class="imageExtra" src="https://th.bing.com/th/id/R.48def8ab3e48fbf16adc0c23f67202b3?rik=m%2by2URv4%2fav3Gg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_67068.png&ehk=FIqdoA8XNIOHXpZ5U1FdnKefQS%2b%2fj9COjQaPLQxPgXg%3d&risl=&pid=ImgRaw&r=0" />
        <div>
            <button class="buttonClass"> Olvidaste tu contrasena </button>
        </div>
    </div>
    <img class="imageRightBottom" src="~/Content/images/cuadros3.png" />

