<div id="barraderecha"></div>
    <img class="imageRightTop" src="../../../assets/cuadros 1.png" />
    <img class="imageLeftTop" src="../../../assets/cuadros2.png" />
    <div class="divTitulo">
        <img class="imageCommon" src="https://images.vexels.com/media/users/3/155414/isolated/preview/6c5e852026e7fd11f79cf45a65299016-silueta-de-vista-lateral-de-coche-suv-by-vexels.png" />

        <div id="separador"></div>
        <h1>Bienvenido al <br />Sistema de Gestion de Siniestros Vehiculares</h1>
        <h2>SIGESIV</h2>
        <div id="separador"></div>
        <img src="../../../assets/decoracion.png" />
    </div>
    <div class="divTitulo">
        <h3>Ingrese los datos solicitados:</h3>
        <div class="divTitulo">
            <p>Nombre de Usuario:</p>
            <input [(ngModel)]="username" type="text" />
        </div>
        <div class="divTitulo">
            <p>Contraseña:</p>
            <input [(ngModel)]="password" type="password" />
        </div>
        <br/>
        <div class="containerClass">
            <button class="buttonClass" (click)="login()">
            ingresar 
         </button>

         <button class="buttonClass">
             Registrarse
         </button>
        </div>
        <br/>
        <button class="buttonFeo"> Olvidaste tu contrasena? </button>
    </div>
    <div class="divVertical">
        <img class="imageExtra" src="https://th.bing.com/th/id/R.48def8ab3e48fbf16adc0c23f67202b3?rik=m%2by2URv4%2fav3Gg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_67068.png&ehk=FIqdoA8XNIOHXpZ5U1FdnKefQS%2b%2fj9COjQaPLQxPgXg%3d&risl=&pid=ImgRaw&r=0" />
       
    </div> 
    <img class="imageRightBottom" src="../../../assets/cuadros3.png" />

